/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/Inter-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/Inter-SemiBold.woff2") format("woff2");
  }

  html,
  body {
    /* @apply m-0 h-full snap-y snap-mandatory scroll-smooth bg-black; */
    @apply m-0 h-full scroll-smooth bg-black;
  }

  body {
    /* @apply overflow-hidden text-white; */
    @apply text-white;
    @apply m-0 p-0 font-inter;
  }

  img {
    image-rendering: smooth;
  }
}

@layer components {
  .ani-none {
    opacity: 0;
    transform: translateX(0);
    transform: translateY(0);
    animation: none;
  }

  .ani-fade-in {
    opacity: 0;
    animation: fade-in 1s ease-out both;
  }

  .ani-slide-fade-left {
    opacity: 0;
    transform: translateX(5vh);
    animation: slide-fade-left 1s cubic-bezier(0, 0.5, 0.5, 1) both;
  }

  .ani-slide-fade-up {
    opacity: 0;
    transform: translateY(5vh);
    animation: slide-fade-up 1s cubic-bezier(0, 0.5, 0.5, 1) both;
  }

  @keyframes fade-in {
    0% {
      opacity: 0.01;
    }
    100% {
      opacity: 0.99;
    }
  }

  @keyframes slide-fade-up {
    0% {
      transform: translateY(5vh);
      opacity: 0.01;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-fade-down {
    0% {
      transform: translateY(-40px);
      opacity: 0.01;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-fade-right {
    0% {
      transform: translateX(-40px);
      opacity: 0.01;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-fade-left {
    0% {
      transform: translateX(40px);
      opacity: 0.01;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
